In [2]:
#IMPORTS
import numpy as np
import pandas as pd

In [54]:
#LOAD DATA
df = pd.read_csv("../data/processed/climate_snotel_2024-10-01.csv").iloc[:, 1:-1]
df = df.rename(columns={"pdo_value": "PDO", "ao_value": "AO"})
static = pd.read_csv("../data/raw/snotel_static.csv", index_col=0)

In [34]:
features = ['NINO12', 'ANOM', 'NINO3', 'ANOM1', 'NINO4', 'ANOM2', 'NINO34','ANOM3', 'pdo_value', 'ao_value']
targets = [col for col in df.columns if col.endswith('_SWE')]

In [56]:
df

,NINO12,ANOM,NINO3,ANOM1,NINO4,ANOM2,NINO34,ANOM3,PDO,AO,...,SNOTEL724_CA_SNTL_SWE,SNOTEL771_CA_SNTL_SWE,SNOTEL778_CA_SNTL_SWE,SNOTEL784_CA_SNTL_SWE,SNOTEL1258_CA_SNTL_SWE,SNOTEL1052_CA_SNTL_SWE,SNOTEL809_CA_SNTL_SWE,SNOTEL834_CA_SNTL_SWE,SNOTEL846_CA_SNTL_SWE,SNOTEL848_CA_SNTL_SWE
0,24.280001,-0.24,25.840000,0.17,28.010000,-0.21,26.650000,0.08,0.11,-0.883,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25.379999,-0.72,26.260000,-0.11,27.990000,-0.11,26.540001,-0.20,-0.19,0.974,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25.219999,-1.38,26.920000,-0.25,28.180000,-0.05,27.090000,-0.14,-0.37,1.074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,24.570000,-1.16,27.520000,-0.05,28.610001,0.10,27.830000,0.02,-0.70,1.454,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24.000000,-0.62,27.700001,0.49,29.190001,0.40,28.370001,0.49,-1.21,-0.209,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,25.809999,0.08,28.190001,0.62,29.320000,0.81,28.610001,0.81,-2.12,0.465,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
508,23.930000,-0.68,27.190001,-0.03,29.490000,0.70,28.190001,0.31,-2.99,-0.048,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
509,22.520000,-0.65,26.510000,-0.14,29.490000,0.65,27.950001,0.24,-3.16,0.136,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
510,21.420000,-0.41,25.790001,-0.08,29.389999,0.60,27.510000,0.21,-2.99,0.587,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
511,20.520000,-0.34,24.969999,-0.25,29.170000,0.48,26.830000,-0.07,-2.88,1.284,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
sub_df = df.iloc[:, :12].dropna()
sub_df = sub_df.reset_index()
sub_df['id'] = 1

In [61]:
sub_df

,index,NINO12,ANOM,NINO3,ANOM1,NINO4,ANOM2,NINO34,ANOM3,PDO,AO,SNOTEL301_CA_SNTL_SWE,SNOTEL356_CA_SNTL_SWE,id
0,36,23.590000,-0.93,24.280001,-1.39,27.389999,-0.83,25.260000,-1.30,0.87,-2.806,9.566667,18.833334,1
1,37,24.790001,-1.30,25.240000,-1.14,27.530001,-0.57,25.809999,-0.92,0.48,-1.440,14.700000,24.100000,1
2,38,25.660000,-0.95,26.209999,-0.96,27.230000,-0.99,26.350000,-0.89,-0.34,0.551,15.950000,25.799999,1
3,39,24.299999,-1.43,26.639999,-0.94,27.420000,-1.09,26.709999,-1.10,-0.52,0.652,14.150000,30.750000,1
4,40,22.719999,-1.89,25.990000,-1.22,27.709999,-1.08,26.809999,-1.08,-0.87,-0.432,0.333333,20.266666,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,501,23.340000,2.46,27.090000,2.00,29.930000,1.24,28.360001,1.59,-2.23,-0.414,1.800000,22.700001,1
466,502,23.850000,2.22,27.280001,2.08,30.120001,1.44,28.719999,1.90,-1.79,-0.036,0.000000,2.000000,1
467,503,24.250000,1.41,27.330000,2.06,29.840000,1.39,28.639999,1.99,-1.66,-0.221,0.000000,0.000000,1
468,504,25.350000,0.83,27.549999,1.87,29.670000,1.45,28.340000,1.78,-1.55,-0.210,0.000000,0.000000,1
469,505,27.020000,0.92,27.850000,1.47,29.320000,1.22,28.260000,1.53,-1.33,0.635,0.000000,0.000000,1

In [62]:
from pytorch_forecasting import TimeSeriesDataSet

TimeSeriesDataSet(sub_df, time_idx = "index", target=["SNOTEL301_CA_SNTL_SWE", "SNOTEL356_CA_SNTL_SWE"], group_ids=['id'])

TimeSeriesDataSet[length=440](
	time_idx='index',
	target=['SNOTEL301_CA_SNTL_SWE', 'SNOTEL356_CA_SNTL_SWE'],
	group_ids=['id'],
	weight=None,
	max_encoder_length=30,
	min_encoder_length=30,
	min_prediction_idx=36,
	min_prediction_length=1,
	max_prediction_length=1,
	static_categoricals=[],
	static_reals=[],
	time_varying_known_categoricals=[],
	time_varying_known_reals=[],
	time_varying_unknown_categoricals=[],
	time_varying_unknown_reals=[],
	variable_groups={},
	constant_fill_strategy={},
	allow_missing_timesteps=False,
	lags={},
	add_relative_time_idx=False,
	add_target_scales=False,
	add_encoder_length=False,
	target_normalizer=MultiNormalizer(
	normalizers=[EncoderNormalizer(
	method='standard',
	center=True,
	max_length=None,
	transformation=None,
	method_kwargs={}
), EncoderNormalizer(
	method='standard',
	center=True,
	max_length=None,
	transformation=None,
	method_kwargs={}
)]
),
	categorical_encoders={'__group_id__id': NaNLabelEncoder(add_nan=False, warn=True), 'id': NaNLabelEncoder(add_nan=False, warn=True)},
	scalers={},
	randomize_length=None,
	predict_mode=False
)